<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <title>Sample Node.js Application</title>
    </head>
    <body>

<script src="https://wchat.freshchat.com/js/widget.js"></script>
<script>
  window.fcWidget.init({
    token: "8tKKfIsKVi8NypRcRf8FP/HPV3t7sliMk4XZtxqur1c=",
    host: "https://wchat.freshchat.com"
  });
</script>

<h1>Hello World! </h1>
<script src="//code.tidio.co/tgllqes86fssnxh7ss3ycunq7aut3ykd.js" async></script>
<script src='https://www.noupe.com/embed/019a2eb0ce9c787ab0f339e78ad9c14f5f73.js'></script>

<h3>k1</h3>
<script src='//in.fw-cdn.com/32621663/1456831.js' chat='true'> </script>
    <span>Sample Node.js Application Test</span>
    </body>
</html>
